

*{
  margin: 0;
  padding: 0;
}

.map{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon{
  font-size: 1.5rem;
  color: red;
}

body {
  background: #000; /* or any dark gradient/image */
}
::selection {
  background: transparent;
  color: white;
}

/* .location-info{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 350px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  font-size: 15px;
  color: rgb(30, 129, 156);
} */
/* .header{
  text-align: center;
  padding: 10px;
  background-color: rgba(56, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header h1{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */